body{
  transition: all 0.4s;
  font-family: 'Muli';
  background-color: #000;
}
#bg_image{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  color:#fff;
  background-color: #000;
}
#particles-js{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  color:#fff;
  background-color: #000;
}
#screen{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  align-items: center;
}
#header{
  color:#fff;
}
#header_image{
  width: 90%;
}
#heading{
  color:#fff;
  font-size: 4em;
}
#date{
  color:#FBC82D;
}
#main_tag{
  font-size: 3em;
  color:#fff;
}
#tag{
  text-transform: uppercase;
  color:#FBC82D;
  font-size : 1.5em;
  margin-top:15px;
  letter-spacing: 10px;
}
.dark_bg{
  background-color: rgba(0,0,0,0.7);
}
.heading{
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  font-size: 3em;
  margin-bottom: 20px;
  color:#FBC82D;
  text-transform: uppercase;
  font-weight: bold;
}
.content{
  color:#fff;
  padding: 10px;
  font-size: 1.2em;
}

#content_about{
  font-size: 1em;
}
.collapsible-header{
  background-color: #111;
}
p {
    text-indent: 50px;
    text-align: left;
}

#contact_bar{
  margin-top: 30px;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;

}
.contact_element{
  display: flex;
  flex-direction: column;
  width: 20vw;
}
.contact_image{
  width: : 20vw;
  height: 20vw;
}
.contact_name{
  font-size: 1.6em;
}
.contact_no{

}


#navbar{
  position: fixed;
  height: 100%;
  display: flex;
  top:0;
  flex-direction: column;
  width: 30vw;
  z-index: 3;
  background-color: rgba(10,10,10,0.8);
  color:#fff;
  justify-content: space-around;
  font-size: 1.2em;
  text-align: center;
  padding: 10px;
  padding-top:20vh;
  padding-bottom: 20vh;
  transition: all 1s;
}
.nav_element{

}
.nav_hidden{
  left:-30vw;
}
.nav_show{
  right:0vw;
}
#navbar_trigger{
  position: fixed;
  right:10px;
  font-size: 20px;
  top:calc(50vh - 10px);
  z-index: 2;
}
#about_section{
  background-image: url(../img/rajan.png);
  background-size: cover;
  background-position: center;
}
@media (width<=600px) {
  #navbar{
    width: 100vw;
  }
}
